// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
header[role="banner"] {
     background-image: url(/images/sunset-backdrop.jpg);
     background-repeat: no-repeat;
     background-size: 1329px 178px;
     background-position: -126px 0px;
}
